@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  font-family: "Roboto", sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.add-task-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.add-task-form input {
  width: 85%;
  padding: 10px;
  margin-right: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn:after {
  content: '';
  width: 30px;
  height: 30px;
  background: url("./assets/delete.png") center /100% no-repeat;
}

.add-btn {
  content: '';
  width: 30px;
  height: 30px;
  background: url("./assets/add.png") center /100% no-repeat;
}